@import "tailwindcss";

html {
    color: white;
}

.no-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE Ð¸ Edge */
}

.no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}